<!-- Slideout nav bar -->
    <nav id="menu" class="menu">

        <header class="menu-header">
          <span class="menu-header-title">MENU</span>
        </header>


      <section class="menu-section">
        <ul class="menu-section-list">
          <li><a href="/about-the-data" target="_blank"><i class="fa fa-bar-chart"></i> The data</a></li>
          <li><a href="/search-tips" target="_blank"><i class="fa fa-search"></i> Search tips</a></li>
          <li><a href="/" target="_blank"><i class="fa fa-cogs"></i> API</a></li>
          <li><a href="https://github.com/opencontractors/open.contractors/issues/new" target="_blank"><i class="fa fa-exclamation-triangle"></i> Create an issue</a></li>
          <li><a href="https://twitter.com/anmccartney" target="_blank"><i class="fa fa-twitter"></i> Follow us</a></li>
        </ul>
      </section>
    </nav>
<!-- End slideout nav bar -->
<main id="panel">
<div class="container-fluid">
    <header>
        <i class="fa fa-bars"></i>
        <a href="\" id="header">open.<span>contractors</span></a> 
        <!-- <div id="login">login</div> -->
    </header>
<div class="header spacer"></div>