<!-- SLIDE-OUT NAVIGATION BAR -->
    <nav id="menu" class="menu">

        <header class="menu-header">
          <span class="menu-header-title">MENU</span>
        </header>

      <!-- NAVIGATION ITEMS. WILL BE CHANGED/UPDATED DEPENDING ON WHAT WE NEED. -->
      <section class="menu-section">
        <ul class="menu-section-list">
          <li><a href="/about-the-data" target="_blank"><i class="fa fa-bar-chart"></i> The data</a></li>
          <li><a href="/search-tips" target="_blank"><i class="fa fa-search"></i> Search tips</a></li>
          <li><a href="/" target="_blank"><i class="fa fa-cogs"></i> API</a></li>
          <li><a href="https://github.com/opencontractors/open.contractors/issues/new" target="_blank"><i class="fa fa-exclamation-triangle"></i> Create an issue</a></li>
          <li><a href="https://twitter.com/anmccartney" target="_blank"><i class="fa fa-twitter"></i> Follow us</a></li>
        </ul>
      </section>
    </nav>
<!-- END SLIDE-OUT NAVIGATION BAR -->

<main id="panel">  <!-- TELLS NAVIGATION BAR WHERE THE PAGE BEGINS SO IT WILL SLIDE OVER -->
<div class="container-fluid">
    <header>
      <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
          <i class="fa fa-bars"></i>
          <a href="\" id="header">open.<span>contractors</span></a> 
        </div>


        <!-- SEARCH BAR -->
        <div class="col-md-5 col-sm-6 pull-right">
          <div class="col-md-1"><i class="fa fa-search"></i></div>
          <div class="col-md-11"><input type="text" class="col-md-12 col-sm-12 col-xs-12"></div>
        </div>
      </div>
        
        <!-- <div id="login">login</div> -->
    </header>
<div class="header spacer"></div>