@font-face {
    font-family: 'Gudea';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Gudea/Gudea-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Pathway Gothic One';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf) format('truetype');
}

* {
    font-family: 'Gudea', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: WhiteSmoke;
}

html, body { height: 100%; }

.container-fluid { 
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -18em;
}
.container-fluid { overflow-x: hidden; }
.footer, .push {
    height: 18em;
}
.footer  {
    background-color: black;
    color: white;
}

a {
    color: #D00441;
    text-decoration: none;
}
a:hover { text-decoration: none; color: #D00441; }
p { 
    margin: 15px 0; 
    line-height: 1.5em;
    text-align: left;
    font-size: 13pt;
} 

ul { 
    text-align: left;
    list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw=='); 
}

li { 
    margin-left: 2em; 
    font-size: 13pt;
    line-height: 1.5em;
}
.sidebar li { margin-left: 0; }

h1, h2, h3, h4 { 
    font-family: 'Pathway Gothic One', sans-serif;
    color: #D00441
}
h1 { font-size: 2.7em }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; color: black; font-weight: normal; }
h4 { font-size: 1.3em; color: black; text-align: center; }
.black { color: black; }
.center { text-align: center; }

span { color: #D00441; }

header a {
    color: WhiteSmoke;
    font-size: 18pt;
}

table {
    border-collapse: collapse;
}

td {
    padding: 20px;
}
th {
    padding: 10px;
}
tr:nth-child(even) {
    background: WhiteSmoke;
}

h2.subtitle {
    color: #404348;
    margin-top: 0px;
}
div.contract {
    background-color: WhiteSmoke;
    padding: 15px;
    margin: 15px;
}

div.sub-box {
    border: 1px solid #F2F5F7;
    border-radius: 1px;
    width: 40%;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
}

div.title-box{
    width: 100%;
    padding-left: 15px;
}

.container{
    /*background-color: WhiteSmoke;*/
    padding: 15px;
    margin: 15px;
    overflow: auto;
}
.container.inner { width: auto; }
.container.main {
    margin: 0 auto;
    width: 95%;
}
@media (min-width: 992px ) {
    .container.main .row { display: flex; }
}
.img-container {
    position: relative;
    width: 100%;
}
.tag {
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   z-index: 1000;
   background-color: rgba(0,0,0,.7);
   padding: 0px 30px 10px 30px;
   font-weight: bold;
}
.tag h1, .tag h3, .tag p { color: #FFFFFF; }
.tag:hover {
    background-color: rgba(0,0,0,.9);
    cursor: pointer;
}
.tag.vendor-profile { background-color: #D00441 }
.tag.vendor-profile:hover { background-color: #C2003A; }
.overlay {
    position: absolute;
    left: 0;
    top:0;
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
}
.cover { 
    filter: grayscale(.6);
    -webkit-filter: grayscale(.6);
}

.module {
    background-color: white;
    vertical-align: top;
    padding: 15px;
    border-right: 5px solid WhiteSmoke;
    border-bottom: 5px solid WhiteSmoke;
}


.container.module.column {
    width: 35%;
    text-align: center;
}
.wrapper.column {
    width: 49%;
    display: inline-block;
    margin-left: -4px;
    border-right: 1px solid Gainsboro;
}
.content {
    width: 70%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid Gainsboro;
}
.wrapper.content { z-index: 1; }
.sidebar {
    width: 30%;
    margin: 0;
    margin-left: -5px;
    display: inline-block;
    vertical-align: top;
}
.wrapper.sidebar { 
    position: absolute;
    right: 0;
    z-index: 0;
    padding-left: 1px;
}
.col-md-4 h2, .subhead h3 { text-align: center; }
.col-md-4 .subhead h3 { display: block; }
.sidebar ul { margin-bottom: 15px; }
.boxes {
    display: flex;
}
.extra { 
    height: 10em;
    padding: 10px;
    background-color: Gainsboro;
    border-bottom: 1px solid WhiteSmoke;
    cursor: pointer;
}
.extra:hover { background-color: #CFCFCF; }
.extra:first-child, .extra.sidebar:hover {
    background-color: #D00441;
}
.extra:first-child:hover { background-color: #C2003A; }
.extra:first-child h2 { color: white; margin: 0; }

.extra.sidebar {
    margin: 0;
    height: auto;
    width: auto;
    min-width: 100%;
    cursor: pointer;
    border-bottom: 0;
}
/*.extra.sidebar:hover { 
    background-color: #CFCFCF;
}*/

.page-type {
    background-color: Gainsboro;
    padding: 18px;
    font-size: 14pt;
    text-align: center;
    letter-spacing: 2px; 
}
.page-identifier { 
    padding: 10px 0 10px 25px;
    background-color: WhiteSmoke;
    /*height: 36px;*/
    /*width: 70%;*/
}
.page-identifier h1 { display: inline-block; margin: 0; }

.subhead { 
    background-color: black; 
    padding: 16px 0 16px 25px; 
    /*border-bottom: 1px solid Gainsboro;*/
    /*border-top: 1px solid Gainsboro;*/
    /*height: 30px;*/
}
.subhead h3 { display: inline-block; margin: 0; color: white; }
.sidebar .subhead { 
    width: 100%; 
    margin-left: 2px;
    padding: 15px 0; 
}
.left { border-right: 1px solid WhiteSmoke; }

.logo-container { height: 200px; margin-bottom: 10px; }

/* Embed and export buttons */
.option {
    background-color: #57C3EC;
    color: white;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.option:hover { background-color: #45B5D8}
.option:first-child {
    border-bottom: 1px solid white;
}

.option-wrapper {
    background-color: white;
    padding: 0;
}
/* End embed and export functions */

/* CALENDAR */
#calendar { padding: 5px; }
svg:not(:root) {
    display: block;
}

.day {
  fill: #fff;
  stroke: WhiteSmoke;
}

.month {
  fill: none;
  stroke: Gainsboro;
  stroke-width: 1px;
}
/* END CALENDAR */

.chart {
    width: 100%;
}
table { 
    width: 100%; 
    background-color: white;
}

table.list-summary th {
    background-color: #404348;
    color: white;
    height:40px;
    text-align: center;
}
table.list-summary td {
    height: 50px;
    text-align: center;
}

table.contract-list {
    border-bottom: 1px solid Gainsboro;
}
table.contract-list tr {
    background: white;
}
table.contract-list td {
    padding: 10px 10px 10px 25px;
}
table.contract-list td {
    width: 180px;
}
table.contract-list td:nth-child(3) {
    width: 200px;
}

table.contract-list th {
    text-align: left;
    padding: 15px 15px 15px 25px;
    background-color: Gainsboro;

}


/* SEARCH BAR */
input[type=text] {
    padding: 3px 10px;
    /*margin: 5px;*/
    font-size: 14pt;
    border: none;
    border-bottom: 1px solid #404348;
    outline: none;
    letter-spacing: .1em;
    background-color: black;
}
input[type=submit] {
    position: absolute;
    right: 5px;
    top: 80px;
    padding: 10px 15px;
    border: none;
}
.container.main input[type=text] {
    width: 94%;
    margin: 5px;
}
.search-indicator .fa.fa-search {
    line-height: 70px;
    color: white;
    font-size: 14pt;
}
.fa.fa-search.bar {
    font-size: 18pt;
    float: right;
}
.search-indicator { height:70px; background-color: #57C3EC; text-align: center; }
/*.dropdown-toggle { background-color: #57C3EC; border: none; }
.dropdown-menu { 
    z-index: 9999; 
    border-radius: 0; 
    border: none;
}
.dropdown-menu li { margin-left: 0; padding: 5px; }
span.caret { 
    color: white;     
    border-top: 8px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}*/
.form-control {
    border-radius: 0;
    border: none;
    color: white;
    font-size: 14pt;
    /*margin-left: 10px; */
}
.form-group { padding-left: 15px; margin-bottom: 0; }
/* END SEARCH BAR */


div#title {
    padding: 2px 15px;
    margin: 2px 15px;
    display: inline-block;
}

div#subtitle {
    background-color: #CCCCCC;
    color: white;
    display: inline-block;
    padding: 2px 15px;
    margin: 2px 15px;
}

.more { 
    background-color: #D00441;
    margin: 10px auto;
    color: white;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out; 
    transition: 0.4s ease-in-out;
}
.fa.fa-caret-down { 
    margin-left: 10px; 
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out; 
    transition: 0.4s ease-in-out;
}
.more:hover { background-color: #C2003A; }

.hidden tbody{
    display: none;
}

#subsidiaries {
    padding: 20px 0;
}
#subsidiaries.up { 
    height: 210px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}
#subsidiaries.down {
    height: auto;
}

div#map-cities {
    width: 35%;
    max-width: 100%;
    float: left;
    margin-right: 15px;
    vertical-align: top;
}

div#map {
    /*height: 240px;*/
}

div#detail {
    margin: 0px;
    padding: 0px;
    height: 300px;
}
/* HEADER CSS */
header {
    background-color: black;
    color: white;
    width: 100%;
    letter-spacing: 2px;
    padding: 15px 25px;
    position: fixed;
    z-index: 10000;
}
#header:hover {
    color: Gainsboro;
}
#header:hover span {
    color: #C2003A;
}

div.header.spacer {
    position: relative;
    visibility: hidden;
    height: 64px;
}

/* LOGIN BUTTON*/
#login { 
    background-color: Gainsboro;
    position: absolute;
    right: 0;
    top: 0;
    padding: 22px;
    color: black;
    cursor: pointer;
}
#login:hover {
    background-color: #D00441;
    color: white;
}
.fa.fa-bars {
    /*position: absolute;*/
    /*right: 100px;*/
    font-size: 18pt;
    cursor: pointer;
    color: WhiteSmoke;
}
.fa.fa-bars:hover { color: #D00441; }
/* END LOGIN BUTTON */

/* END HEADER CSS */
hr {
    color: gray;
    background-color: Gainsboro;
    height: 1px;
}

div.bar {
    height: 20px;
    background-color: black;
}

div.subtitle {
    background-color: black;
    color: white;
    padding: 15px;
}
@media (max-width: 991px) {
    .option { width: 50%; float: left; }
    .option:first-child { border-bottom: 0; border-right: 1px solid white; }
    .page-type { padding: 8px; }
    .tag.vendor-profile { height: 100%; }
    .left { border-right: none; }
}

/* D3 CSS */
path {
    stroke: #57C3EC;
    stroke-width: 1;
    fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  display: none;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000; 
}
#map path {
    stroke: WhiteSmoke;
}
#map path:hover { fill: #D00441 !important; }

.treemap { height: 350px; }
.treemap .node {
    font-size: 150%;
    /*line-height: 150%;*/
    overflow: hidden;
    position: absolute;
    padding: 5px;
    /*text-indent: 1%;*/
    transition: background 1s;
    transition: color 0.5s;
}
.treemap .node:hover {
      background: #D00441 !important;
      color: white;    
}
.background { fill: none; }
.percent { fill: #57C3EC; stroke: WhiteSmoke; }
.percent:hover { 
    fill: #D00441;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out; 
    transition: 0.1s ease-in-out;
}
#bar-chart .name { fill: white; font-size: 14pt; }
.bar { padding: 10px; }
.bar { max-height: 20px !important; }

#graph {
    position: relative;
    width: 100%;
    padding-bottom: 35%;
    float: left;
    height: 0;
}

#lineChart {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
#timeline { height: 150px; }
#timeline svg { padding: 0 15px; margin-left: 5px; }
#timeline .axis text { font-size: 12px; }
#timeline .axis path,
#timeline .axis line {
    fill: none;
    stroke: Gainsboro;
    shape-rendering: crispEdges;
}
#congress-districts-map { width: 100%; /*height: 500px;*/ }
.districts { fill: #bbb; }
.districts :hover { fill: #D00441; }
.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: WhiteSmoke;
  stroke-width: .5px;
}
.districts path { fill: Gainsboro; stroke: WhiteSmoke; stroke-width: .5; }
.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: WhiteSmoke;
  stroke-width: 1.5px;
}
/* END D3 */

/* PAGINATION */
.pagination>li {
    display: inline-block;
    margin-left: 0px !important;
}
.pagination>li>a {
    color: #404348;
    border: none;
}
.pagination { margin: 10px 0; }
/* END PAGINATION */

/* MENU */
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 180px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out; 
    transition: 0.4s ease-in-out;
}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
.menu-section-list a {
    display: block;
    padding: 10px 20px;
    color: white;
}
.menu-header {
    background-color: #2F3238;
}
.menu-header-title { color: white; }
.menu-section { margin-top: 50px; }
nav li {
    list-style:none;
    margin-left: 0;
}

nav li:hover {
    background-color: gray;
}

nav { 
    background-color: #404348;
}

/* END MENU */