{% include 'partials/head.html' %}

<!-- SEARCH BAR -->
{% include 'partials/search_bar.html' %}

<div class="row">
    <!-- BEGIN LEFT CONTENT COLUMN -->
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="page-identifier col-md-10">
                <h1>{{ object_list[0]['vendorName'] }}</h1>
            </div>
            <div class="page-type col-md-2">Overview</div>
        </div>
        


        <section id="contract_earnings_per_year">
            <div class="row">
                <div class="subhead col-md-10">
                    <h3>Contract earnings per year</h3>
                </div>
                <div class="option-wrapper col-md-2">
                        <div class="option"><i class="fa fa-code"> embed</i></div>
                        <div class="option"><i class="fa fa-external-link"> export</i></div>
                </div>
            </div>

            <div id="company_chart" class="col-md-12" height="500"></div>

            <!-- PLACEHOLDER IMAGE -->
            <!-- <img class="chart" src="../../static/assets/images/company_chart.png"> -->

            <div class="container">
                <h3>Total dollars from contracts: <span>${{ object_list[0]['obligatedAmount'] }}</span></h3>
            </div>
        </section>

        <div class="row">
            <div class="subhead col-md-10">
                <h3>Most common contract codes</h3>
            </div>
            <div class="option-wrapper col-md-2">
                    <div class="option"><i class="fa fa-code"> embed</i></div>
                    <div class="option"><i class="fa fa-external-link"> export</i></div>
            </div>
        </div>

        <div class="hidden">
            <table>
            <thead>
            {% for prod in products_list[:5] %}
                <tr>
                    <td style="max-width:300px"><a href="product/{{ prod[4] }} ">{{ prod[0] }}</a></td>
                    <td style="text-align:center">{{ prod[2] }}</td>
                    <td style="text-align:right">${{ prod[1] }}</td>                    
                    <td style="max-width:300px"><div class="bar" style="width:{{ prod[3]}}px"></div></td>
                </tr>
            {% endfor %}
            </thead>
                <tbody>
                    {% for prod in products_list[6:] %}
                        <tr>
                            <td style="max-width:300px"><a href="product/{{ prod[4] }} ">{{ prod[0] }}</a></td>
                            <td style="text-align:center">{{ prod[2] }}</td>
                            <td style="text-align:right">${{ prod[1] }}</td>                    
                            <td style="max-width:300px"><div class="bar" style="width:{{ prod[3]}}px"></div></td>
                        </tr>
                    {% endfor %}
                </tbody>    
            </table>
        </div>
            <div class="more products">more<i class="fa fa-caret-down"></i></div>

            </table>


        <div class="row">
            <div class="subhead col-md-10">
                <h3>Most common requesting agencies</h3>
            </div>
            <div class="option-wrapper col-md-2">
                    <div class="option"><i class="fa fa-code"> embed</i></div>
                    <div class="option"><i class="fa fa-external-link"> export</i></div>
            </div>
        </div>
        
        <!-- PLACEHOLDER REQUESTER D3 -->
        <div class="row">
            <div class="col-md-12">
                <div class="treemap"></div>
            </div>
        </div>
            

        <!-- CONTRACT PERFORMANCE LOCATION -->
        <div class="row"> <!-- SUBHEAD -->
            <div class="subhead col-md-10">
                <h3>Contract performance location</h3>
            </div>
            <div class="option-wrapper col-md-2">
                    <div class="option"><i class="fa fa-code"> embed</i></div>
                    <div class="option"><i class="fa fa-external-link"> export</i></div>
            </div>
        </div>

        <!-- PLACEHOLDER LOCATIONS D3 -->
        <div class="row">
            <div class="col-md-6">
                <!-- <table>
                    <tr><td>TKTK</td><td>TKTK</td></tr>
                    <tr><td>TKTK</td><td>TKTK</td></tr>
                    <tr><td>TKTK</td><td>TKTK</td></tr>
                    <tr><td>TKTK</td><td>TKTK</td></tr>
                    <tr><td>TKTK</td><td>TKTK</td></tr>
                </table> -->

                <div id="bar-chart"></div>
            </div>
            <div class="col-md-6">
                <div id="map"></div>
            </div>
        </div>


        <div class="row">
            <!-- SUBSIDIARIES -->
            <div class="col-md-6">
                <div class="subhead left"><h3>American subsidiaries</h3></div>
                <!-- STATIC PLACEHOLDER NAMES -->
                <div id="subsidiaries" class="up">
                    <ul>
                        <li>3Com International, Inc.</li>
                        <li>3Par Inc.</li>
                        <li>ArcSight, LLC</li>
                        <li>Compaq Computer (Delaware), LLC</li>
                        <li>EDS Global Contracts, LLC</li>
                        <li>EYP Mission Critical Facilities, Inc.</li>
                        <li>HPFS Global Holdings I, LLC</li>
                        <li>Indigo America, Inc.</li>
                        <li>Additional hidden company</li>
                        <li>Additional hidden company</li>
                        <li>Additional hidden company</li>
                        <li>Additional hidden company</li>
                        <li>Additional hidden company</li>
                    </ul>
                <div class="more subsidiaries">more<i class="fa fa-caret-down"></i></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="subhead"><h3>Mergers</h3></div>
                    <img class="chart" src="../../static/assets/images/company_bubblechart.png">
            </div>        
        </div>
        

    </div>

    <!-- END LEFT COLUMN -->
    <!-- BEGIN SIDEBAR -->

    <!-- <div class="col-md-4">
        <div class="extra sidebar">
            <h2>View glossary of terms</h2>
        </div>
        

        <div class="subhead"><h3>Comments</h3></div>

    </div> -->
    <!-- END SIDEBAR -->
</div>

<script type="x-jst" id="map-tooltip-template">
    <h5><%= Name %></h5>
    <p>$<%= percent * 1000000000 %> in contracts 2000 - 2015.</p>
</script>

{% include 'partials/foot.html' %}