{% include 'partials/head.html' %}

<div class="row">
    <!-- BEGIN MAIN CONTENT -->
    <div class="col-md-10 col-md-offset-1">
        <section id="vendor-name">
            <div class="row">
                <div class="page-identifier col-md-10">
                    <h1>{{ object_list[0]['vendorName'] }}</h1>
                </div>
                <div class="page-type col-md-2">Overview</div>
            </div>
        </section>  
        <!-- <div id="example"></div> --> <!-- TESTING REACT, WILL REMOVE -->


        <!-- COMPANY CONTRACT EARNINGS PER YEAR -->
        <section id="contract_earnings_per_year">
            <div class="row">
                <div class="subhead col-md-10">
                    <h3>Contract earnings per year</h3>
                </div>
                <div class="option-wrapper col-md-2">
                        <div class="option"><i class="fa fa-code"> embed</i></div>
                        <div class="option"><i class="fa fa-external-link"> export</i></div>
                </div>
            </div>

            <!-- CHART, CREATED BY LINE-CHART.JS IN ~/static/assets/scripts/visualizations -->
            <div id="graph" class="col-md-12 aGraph"></div>

            <div class="container">
                <h3>Total dollars from contracts: <span>${{ object_list[0]['obligatedAmount'] }}</span></h3>
            </div>
        </section>


        <!-- COMPANY INFORMATION -->
        <section id="company-info">
            <div class="row">
                <div class="subhead col-md-10">
                    <h3>Contract earnings per year</h3>
                </div>
                <div class="option-wrapper col-md-2">
                        <div class="option"><i class="fa fa-code"> embed</i></div>
                        <div class="option"><i class="fa fa-external-link"> export</i></div>
                </div>
            </div>
            <div class="row">
                <table>
                        <tr><td>Business size</td><td>{{ object_list[1]['contractingOfficerBusinessSizeDetermination'] }}</td></tr>
                        <tr><td>Number of employees</td><td>{{ object_list[1]['numberOfEmployees'] }}</td></tr>
                        <tr><td>Annual revenue</td><td>${{ object_list[1]['annualRevenue'] }}</td></tr>
                        <tr><td>Site code / alternate site code</td><td>{{ object_list[1]['vendorSiteCode'] }} / {{ object_list[1]['vendorAlternateSiteCode'] }}</td></tr>
                        <tr><td>DUNS number</td><td>{{ object_list[1]['DUNSNumber'] }}</td></tr>
                        
                    </table>
            </div>
        </section>

        
        <!-- MOST COMMON CONTRACT CODES FOR THIS COMPANY -->
        <section id="contract-codes">
            <div class="row">
                <div class="subhead col-md-10">
                    <h3>Most common contract codes</h3>
                </div>
                <div class="option-wrapper col-md-2">
                        <div class="option"><i class="fa fa-code"> embed</i></div>
                        <div class="option"><i class="fa fa-external-link"> export</i></div>
                </div>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Product/service code</th>
                            <th># of contracts</th>
                            <th>Total amount of contracts</th>
                            <th></th>
                        </tr>
                    {% for prod in products_list[:5] %} <!-- CURRENTLY SHOWS ONLY FIRST FIVE RESULTS -->
                        <tr>
                            <td style="max-width:300px"><a href="product/{{ prod[4] }} ">{{ prod[0] }}</a></td>
                            <td style="text-align:center">{{ prod[2] }}</td>
                            <td style="text-align:right">${{ prod[1] }}</td>                    
                            <td style="max-width:300px"><div class="bar" style="width:{{ prod[3]}}px"></div></td>
                        </tr>
                    {% endfor %}
                    </thead>
                    <!-- EVENTUALLY WILL SHOW ALL RESULTS, ALLOW USERS TO EXPAND OR PAGINATE THEM -->
                    <!-- <tbody style="display:none">
                        {% for prod in products_list[6:] %}
                            <tr>
                                <td style="max-width:300px"><a href="product/{{ prod[4] }} ">{{ prod[0] }}</a></td>
                                <td style="text-align:center">{{ prod[2] }}</td>
                                <td style="text-align:right">${{ prod[1] }}</td>                    
                                <td style="max-width:300px"><div class="bar" style="width:{{ prod[3]}}px"></div></td>
                            </tr>
                        {% endfor %}
                    </tbody> -->    
                </table>
            </div>
            <div class="more products">more<i class="fa fa-caret-down"></i></div>
        </section>


        <!--  MOST COMMON REQUESTING AGENCIES -->
        <section id="requesting-agencies">
            <div class="row">
                <div class="subhead col-md-10">
                    <h3>Most common requesting agencies</h3>
                </div>
                <div class="option-wrapper col-md-2">
                        <div class="option"><i class="fa fa-code"> embed</i></div>
                        <div class="option"><i class="fa fa-external-link"> export</i></div>
                </div>
            </div> 
            <!-- PLACEHOLDER REQUESTER D3 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="treemap"></div>
                </div>
            </div>
        </section>


        <!-- RECIPIENT OFFICE LOCATIONS -->
        <section id="recipient-office-location">
            <div class="row">
                <div class="subhead col-md-10">
                    <h3>Recipient office locations</h3>
                </div>
                <div class="option-wrapper col-md-2">
                        <div class="option"><i class="fa fa-code"> embed</i></div>
                        <div class="option"><i class="fa fa-external-link"> export</i></div>
                </div>
            </div>    
            <div class="row">
                <!-- UNDER CONSTRUCTION. WILL BE A MAP. -->
            </div>
        </section>    


        <!-- CONTRACT PERFORMANCE LOCATION -->
        <section id="contract-performance-location">
            <div class="row">
                <div class="subhead col-md-10">
                    <h3>Contract performance location</h3>
                </div>
                <div class="option-wrapper col-md-2">
                        <div class="option"><i class="fa fa-code"> embed</i></div>
                        <div class="option"><i class="fa fa-external-link"> export</i></div>
                </div>
            </div>
            <!-- PLACEHOLDER CHOROPLETH AND BAR CHART-->
            <div class="row">
                <div class="col-md-4">
                    <div id="bar-chart"></div>
                </div>
                <div class="col-md-8">
                    <div id="map"></div>
                </div>
            </div> 
        </section>


        <!-- EDGAR (COMPANY STRUCTURE) DATA -->
        <section id="EDGAR-data">
            <div class="row">
                <div class="subhead col-md-10">
                    <h3>EDGAR data</h3>
                </div>
                <div class="option-wrapper col-md-2">
                        <div class="option"><i class="fa fa-code"> embed</i></div>
                        <div class="option"><i class="fa fa-external-link"> export</i></div>
                </div>
            </div>

            <div class="row">
                <!-- SUBSIDIARIES -->
                <div class="col-md-6">
                    <!-- STATIC PLACEHOLDER NAMES -->
                    <!-- <div id="subsidiaries" class="up">
                            <li>3Com International, Inc.</li>
                            <li>3Par Inc.</li>
                            <li>ArcSight, LLC</li>
                            <li>Compaq Computer (Delaware), LLC</li>
                            <li>EDS Global Contracts, LLC</li>
                            <li>EYP Mission Critical Facilities, Inc.</li>
                            <li>HPFS Global Holdings I, LLC</li>
                            <li>Indigo America, Inc.</li>
                            <li>Additional hidden company</li>
                            <li>Additional hidden company</li>
                            <li>Additional hidden company</li>
                            <li>Additional hidden company</li>
                            <li>Additional hidden company</li>
                        </ul>
                    <div class="more subsidiaries">more<i class="fa fa-caret-down"></i></div>
                    </div>
                </div> -->
                <div class="col-md-12">
                        <div id="network-diagram"></div>
                </div>        
            </div>
        </section>
        
    </div>
</div>
<!-- END MAIN CONTENT-->


<script type="x-jst" id="map-tooltip-template">
    <h5><%= Name %></h5>
    <p>$<%= percent * 1000000000 %> in contracts 2000 - 2015.</p>
</script>
{% include 'partials/foot.html' %}