
{% include 'partials/head.html' %}
{% include 'partials/search_bar.html' %}


        <div id="detail" style="width:100%; height:300px;"></div>


            <div class="contract">
                
                <div class="title-box"><h2>Contract information</h2></div>
                <div class="sub-box">
                    <h1>${{ object[0]['DollarsObligated'] }}</h1>
                    <p><strong>Agency ID: {{ object[0]['AgencyID'] }}</strong></p>
                    <p>Contracting Agency: {{ object[0]['ContractingAgency'].split(':')[1] }}</p>
                    <p>Date signed: {{ object[0]['DateSigned'].split('T')[0] }}</p>
                    <p>Fiscal year: {{ object[0]['FiscalYear'] }}</p>
                </div>
                 <div class="sub-box">
                    <p><strong>Modification number</strong></p>
                    <p>{{ object[0]['ModificationNumber'] }}</p></p>
                    <p><strong>Product or service code</strong></p>
                    <p>{{ object[0]['ProductorServiceCode'] }}</p></p>
                    <p><strong>Contract Description</strong></p>
                    <p>{{ object[0]['ContractDescription'] }}</p>
                </div>

                

            </div>
            <div class="contract">
                <div class="title-box"><h2>Location information</h2></div>
                <div class="sub-box">
                    <h3>Recipient's location</h3>
                    <p>Address: {{ object[0]['RecipientAddressLine123'] }}, {{ object[0]['RecipientCity'] }}, {{ object[0]['RecipientState'] }} {{ object[0]['RecipientZipCode'] }} </p>
                    <p>Congressional district: {{ object[0]['RecipientState'] }}-{{ object[0]['RecipientCongressionalDistrict'] }} </p>
                </div>
                <div class="sub-box">
                    <h3>Place of contract performance</h3>
                    <p>Performance city: {{ object[0]['PlaceofPerformanceCity'] }}, {{ object[0]['PlaceofPerformanceState'] }} {{ object[0]['PlaceofPerformanceZipCode'] }}</p>
                    <p>Congressional district: {{ object[0]['PlaceofPerformanceState'] }}-{{ object[0]['PlaceofPerformanceCongDistrict'] }} </p>
                </div>
            </div>


        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">

            var geocoder = new google.maps.Geocoder();
            var address = "{{ object[0]['RecipientAddressLine123'] }}, {{ object[0]['RecipientCity'] }}, {{ object[0]['RecipientState']}} " ;

            geocoder.geocode( {'address': address}, function(results, status) {

                var x = results[0].geometry.location.lat();
                var y = results[0].geometry.location.lng();

                var map = L.map('detail').setView([x, y], 10);
                var mapquestLayer = new L.TileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>,<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
                    subdomains: ['otile1','otile2','otile3','otile4']
                });
                map.addLayer(mapquestLayer);
                var marker = L.marker([x, y]).addTo(map);
                }); 
            
        </script>



{% include 'partials/foot.html' %}
