{% include 'partials/head.html' %}

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">

    
        <!-- VENDOR NAME -->
        <section id="company-name">
            <div class="row">
                <div class="page-identifier col-md-10">
                    <h1>{{ object_list[1]['vendorName'] }} - {{ object_list[1]['PIID'] }}</h1>  <!-- READING FIRST COMPANY NAME IN DATASET AS PLACEHOLDER -->
                </div>
                <div class="page-type col-md-2">Contract</div>
            </div>
        </section>


        <!-- SUMMARY -->
        <section id="summary">
            <div class="row">
                <div class="subhead">
                    <h3>Summary</h3>
                </div>
            </div>
        
            <!-- SUMMARY STATEMENT, CAN EDIT -->
            <div class="wrapper">
                <div class="container inner">
                    <p>{{ object_list[1]['vendorName'] }} recieved this ${{ object_list[1]['obligatedAmount'] }} contract from {{ object_list[1]['contractingOfficeAgencyID'] }} for {{ object_list[1]['productOrServiceCode'] }}.</p>
                </div>
            </div>
        </section>


        <!-- AMOUNTS -->
        <div class="row">
            <section id="amounts">
                <div class="col-md-6 left">
                    <div class="row">
                        <div class="subhead">
                            <h3>Amounts</h3>
                        </div>
                    </div>
                    <div class="row">
                        <table>
                            <tr><td>Obligated amount</td><td>${{ object_list[1]['obligatedAmount'] }}</td></tr>
                            <tr><td>Base & excersized options value</td><td>${{ object_list[1]['baseAndExercisedOptionsValue'] }}</td></tr>
                            <tr><td>Base & all options value</td><td>${{ object_list[1]['baseAndAllOptionsValue'] }}</td></tr>
                        </table>
                    </div>
                </div>
            </section>

            <!-- CONTRACT DESCRIPTION -->
            <section id="contract-desc">
                <div class="col-md-6">
                    <div class="row">
                        <div class="subhead">
                            <h3>Contract description</h3>
                        </div>
                    </div>
                    <div class="container inner">
                        <p>{{ object_list[1]['descriptionOfContractRequirement'] }}</p>
                    </div>
                </div>
            </section>

        </div>     
            
        


        <!-- CONTRACT TIMELINE -->
        <section id="contract-timeline">
            <div class="row">
                <div class="col-md-12">
                    <div class="subhead">
                        <h3>Contract timeline</h3>
                    </div>
                    <table class="list-summary">
                        <tr>
                            <th>Signed date</th>
                            <th>Effective date</th>
                            <th>Current completion date</th>
                            <th>Ultimate completion date</th>
                        </tr>
                        <tr>
                            <td>{{ object_list[1]['signedDate'] }}</td>
                            <td>{{ object_list[1]['effectiveDate'] }}</td>
                            <td>{{ object_list[1]['currentCompletionDate'] }}</td>
                            <td>{{ object_list[1]['ultimateCompletionDate'] }}</td>
                        </tr>
                    </table>
                    <!-- <div class="col-md-6">
                        <table>
                            <tr><td>Signed date</td><td>{{ object_list[1]['signedDate'] }}</td></tr>
                            <tr><td>Effective date</td><td>{{ object_list[1]['effectiveDate'] }}</td></tr>
                            <tr><td>Current completion date</td><td>{{ object_list[1]['currentCompletionDate'] }}</td></tr>
                            <tr><td>Ultimate completion date</td><td>{{ object_list[1]['ultimateCompletionDate'] }}</td></tr>
                        </table>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12" id="timeline"></div>
                        
                    </div>
                </div>
            </div>
        </section>


        <!-- INVOLVED PARTIES AND RECIPIENT DESCRIPITON -->
        <div class="row">
            <section id="involved-parties">
                <div class="col-md-6">
                    <div class="subhead left">
                        <h3>Purchaser</h3>
                    </div>
                    <table class="left">
                        <tr><td>Major agency</td><td>{{ object_list[1]['maj_fund_agency_cat'] }}</td></tr>
                        <tr><td>Major funding agency</td><td>{{ object_list[1]['maj_fund_agency_cat'] }}</td></tr>
                        <tr><td>Contracting Office Agency ID</td><td>{{ object_list[1]['contractingOfficeAgencyID'] }}</td></tr>
                        <tr><td>Contracting Office ID</td><td>{{ object_list[1]['contractingOfficeID'] }}</td></tr>
                        <tr><td>Funding Requesting Agency ID</td><td>{{ object_list[1]['fundingRequestingAgencyID'] }}</td></tr>
                        <tr><td>Funding Requesting Office ID</td><td>{{ object_list[1]['fundingRequestingOfficeID'] }}</td></tr>

                    </table>
                    <div class="subhead">
                        <h3>Vendor</h3>
                    </div>
                        <div class="img-container" style="height: 180px;">
                            <a href="/company-overview">
                                <div class="tag col-md-10 col-xs-12 vendor-profile">
                                    <p>Vendor profile:</p>
                                    <h3>{{ object_list[1]['vendorName'] }}</h3>
                                </div>
                            </a>
                        </div>

                </div>
            </section>

                   <!-- <tr><td>Funded by foreign entity</td><td>{{ object_list[1]['fundedByForeignEntity'] }}</td></tr>
                        <tr><td>Humanitarian or peacekeeping operation</td><td>{{ object_list[1]['contingencyHumanitarianPeacekeepingOperation'] }}</td></tr> -->

            <!-- CONTRACT INFORMATION -->
            <section id="contract-info">      
                <div class="col-md-6">
                    <div class="row">
                        <div class="subhead">
                            <h3>Contract information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <table>
                            <tr><td>Award type</td><td>TKTK</td></tr>
                            <tr><td>Reason for modification</td><td>{{ object_list[1]['reasonForModification'] }}</td></tr>
                            <tr><td>Sub-contract plan</td><td>{{ object_list[1]['subcontractPlan'] }}</td></tr>
                            <tr><td>Type of contract pricing</td><td>{{ object_list[1]['typeOfContractPricing'] }}</td></tr>
                            <tr><td>Contract financing</td><td>{{ object_list[1]['contractFinancing'] }}</td></tr>
                            <tr><td>Multi-year contract</td><td>TKTK</td></tr>
                            <tr><td>Performance-based service contract</td><td>{{ object_list[1]['performanceBasedServiceContract'] }}</td></tr>
                            <tr><td>Contingency Humanitarian Peacekeeping Operation</td><td>{{ object_list[1]['contingencyHumanitarianPeacekeepingOperation'] }}</td></tr>
                            <tr><td>Cost or pricing data</td><td>{{ object_list[1]['costOrPricingData'] }}</td></tr>
                            <tr><td>Cost accounting standards clause</td><td>{{ object_list[1]['StandardsClause'] }}</td></tr>
                        </table>
                    </div>  
                </div>
            </section>
        </div> 
            

        <!-- CONTRACT PERFORMANCE LOCATION -->
        <section id="performance-location">    
            <div class="row">
                <div class="subhead col-md-10">
                    <h3>Contract performance location</h3>
                </div>
                <div class="option-wrapper col-md-2">
                        <div class="option">embed</div>
                        <div class="option">export</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                        <table>
                            <tr><td>City</td><td>TKTK</td></tr>
                            <tr><td>State / Country</td><td>{{ object_list[1]['popStateCode'] }} / {{ object_list[1]['placeOfPerformanceCountryCode'] }}</td></tr>
                            <tr><td>ZIP code</td><td>{{ object_list[1]['placeOfPerformanceZIPCode'] }}</td></tr>
                            <tr><td>Congressional district</td><td>{{ object_list[1]['popStateCode'] }}-{{ object_list[1]['placeOfPerformanceCongressionalDistrict'] }}</td></tr>
                        </table>
                    </div>
                <!-- MAP? -->
                <div id="detail" class="col-md-8"></div>
            </div>
        </section>    


        <!-- INVOLVED PARTIES AND RECIPIENT DESCRIPITON -->
        <!-- <section id="recipient-information">
            <div class="row">
                <div class="col-md-6">
                    <div class="subhead left">
                        <h3>Vendor information</h3>
                    </div>
                    <table>
                        <tr><td>Contract recipient</td><td>{{ object_list[1]['vendorName'] }} </td></tr>
                        <tr><td>Recipient alt. name</td><td>{{ object_list[1]['vendorAlternateName'] }}</td></tr>
                        <tr><td>Address</td><td>{{ object_list[1]['streetAddress'] }} {{ object_list[1]['city'] }}, {{ object_list[1]['state'] }} {{ object_list[1]['ZIPCode'] }}</td></tr>
                        <tr><td>Congressional district</td><td>{{ object_list[1]['state'] }}-{{ object_list[1]['congressionalDistrict'] }}</td></tr>
                        <tr><td>Business size</td><td>{{ object_list[1]['contractingOfficerBusinessSizeDetermination'] }}</td></tr>
                        <tr><td>Number of employees</td><td>{{ object_list[1]['numberOfEmployees'] }}</td></tr>
                        <tr><td>Annual revenue</td><td>${{ object_list[1]['annualRevenue'] }}</td></tr>
                        <tr><td>Site code / alternate site code</td><td>{{ object_list[1]['vendorSiteCode'] }} / {{ object_list[1]['vendorAlternateSiteCode'] }}</td></tr>
                        <tr><td>DUNS number</td><td>{{ object_list[1]['DUNSNumber'] }}</td></tr>
                        
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="subhead">
                        <h3>Company network diagram</h3>
                    </div>

                </div>
            </div>
        </section> -->

            
        <!-- CONTRACT IDENTIFIERS -->
        <section id="contract-ids">
            <div class="row">
            <div class="subhead col-md-10">
                <h3>Contract identifiers</h3>
            </div>
            <div class="option-wrapper col-md-2">
                    <div class="option">embed</div>
                    <div class="option">export</div>
            </div>
        </section>    

        </div>
    {{ object_list[1] }}
    </div>

</div> 
<!-- END MAIN CONTENT -->




<!-- GEOCODE SCRIPT -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

            var geocoder = new google.maps.Geocoder();
            var address = "{{ object_list[1]['streetAddress'] }}, {{ object_list[1]['city'] }}, {{ object_list[1]['state']}}";

            console.log('address: ' + address);

            geocoder.geocode( {'address': address}, function(results, status) {

                var x = results[0].geometry.location.lat();
                var y = results[0].geometry.location.lng();

                var map = L.map('detail').setView([x, y], 10);
                var Hydda_Full = L.tileLayer('http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png', {
                    attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });
                // THIS IS THROWING ERRORS, COMMENTED OUT UNTIL PROBLEM FIXED
                // var dataLayer = L.geoJson(data, {
                //     onEachFeature: function(feature, layer) {
                //         layer.bindPopup(
                //             '<a href="' + feature.properties.id + '/">' +
                //                 feature.properties.Site_Name +
                //             '</a>'
                //         );
                //     }
                // });
                map.addLayer(Hydda_Full);
                var marker = L.marker([x, y]).addTo(map);
                }); 


        // PARSING DATES FOR TIMELINE
        // TEMPORARILY HERE, WILL MOVE SOON
        var dates = ["{{ object_list[1]['signedDate'] }}","{{ object_list[1]['effectiveDate'] }}", "{{ object_list[1]['currentCompletionDate'] }}", "{{ object_list[1]['ultimateCompletionDate'] }}"]
          , dateTimes = []
          , arrayLength = dates.length;

        for (var i = 0; i < arrayLength; i++) {
            date = new Date(dates[i]);
            dateTimes.push(date.getTime());
        }              
            
        </script>

<!-- END GEOCODE SCRIPT -->

{% include 'partials/foot.html' %}