{% include 'partials/head.html' %}
<div class="row">
</div>
    <div class="img-container">
        <a href="/explore"><div class="tag"><h1>EXPLORE</h1></div></a>
        <div class="overlay"></div>
        <img src="static/assets/images/pentagon.jpg" width="100%" class="cover" />  
    </div>
    <div class="container main">

        <div class="row">
            <div class="module col-md-4">
                <h2>Search Tips</h2>
                <p>open.contractors returns different page types for each of the following types of queries:</p>
                    <ul>
                        <li>company name</li>
                        <li>geographic location</li>
                        <li>agency name</li>
                        <li>contract PIID number</li>
                        <li>general queries</li>
                    </ul>
                <p>It is best to start with only one search term and narrow from there.</p>                
                <a href="/search-tips"><div class="more">more<i class="fa fa-caret-down"></i></div></a>
            </div>
            <div class="module col-md-4">
                <h2>About the data</h2>
                <p>Data on this site was taken from <a href="https://www.usaspending.gov/" target="_blank">USAspending.gov</a>, the American government’s website for open and unclassified contractor data.</p>
                <p>This site does not include classified data.</p>
                <p>open.contractors also aggregates from other government data sources including Congress’s membership database and the SEC’s EDGAR database.</p>
                <a href="/about-the-data"><div class="more">more<i class="fa fa-caret-down"></i></div></a>
            </div>
            <div class="col-md-4">
                <a href="/glossary"><div class="extra"><h2>View glossary of terms</h2></div></a>
                <div class="extra"><h2>See upcoming features</h2></div>
            </div>
        </div>
    </div>     

{% include 'partials/foot.html' %}
