{% include 'partials/head.html' %}
    <div class="container main">
        
        <input type="text" placeholder="search">

        <div class="boxes">
            <div class="container module column">
                <h2>Search Tips</h2>
                <p>open.contractors returns different page types for each of the following types of queries:</p>
                    <ul>
                        <li>company name</li>
                        <li>geographic location</li>
                        <li>agency name</li>
                        <li>contract PIID number</li>
                        <li>general queries</li>
                    </ul>
                <p>It is best to start with only one search term and narrow from there.</p>                
                <div class="more">more<i class="fa fa-caret-down"></i></div>
            </div>
            <div class="container module column">
                <h2>About the data</h2>
                <p>Data on this site was taken from <a href="https://www.usaspending.gov/" target="_blank">USAspending.gov</a>, the American government’s website for open and unclassified contractor data.</p>
                <p>This site does not include classified data.</p>
                <p>open.contractors also aggregates from other government data sources including Congress’s membership database and the SEC’s EDGAR database.</p>
                <div class="more">more<i class="fa fa-caret-down"></i></div>
            </div>
            <div class="module">
                <div class="extra"><h2>View glossary of terms</h2></div>
                <div class="extra"><h2>See upcoming features</h2></div>
            </div>
        </div>
    </div>     

{% include 'partials/foot.html' %}
