<!-- 
TO DOs: 
    1) FIGURE OUT PAGINATION 
    2) FIGURE OUT VISUALS - SPARKLINES / BAR CHARTS
    3) DETERMINE BEST WAY TO DISPLAY THE CONTRACTS THEMSELVES - WHAT IS THE MOST RELEVANT INFO TO FACILITATE SKIMMING?
-->

<!-- HEAD -->
{% include 'partials/head.html' %}

<div class="row">
<!-- BEGIN LEFT CONTENT COLUMN -->
    <div class="col-md-10 col-md-offset-1">
        

        <!-- NAME OF COMPANY/LOCATION/THING QUERIED -->
        <section id="main-name">
            <div class="row">
                <div class="page-identifier col-md-10">
                    <h1>{{ object_list[1]['vendorName'] }}</h1>
                </div>
                <div class="page-type col-md-2">Detail</div>
            </div>

            <div class="subhead">
                <h3>{{ object_list[1]['productOrServiceCode'] }}</h3>
            </div>
        </section>


        <!-- BEGIN LIST VIEW TABLE SUMMARY -->
        <section id="list-summary-stats">
            <table class="list-summary">
                <thead>
                    <tr>
                        <th>Total number of contracts</th>
                        <th>Total award amount</th>
                        <th>Amount awarded over time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h3>11,813</h3></td>
                        <td><h3>$958,101,567.43</h3></td>
                        <td><h3>CHART GOES HERE</h3></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <!-- END LIST VIEW TABLE SUMMARY -->


        <!-- LIST RESULTS -->
        <section id="list-results">
            <div class="row">
                <div class="subhead col-md-6">
                    <h3>Contracts</h3>
                    
                </div>
                <div class="col-md-4" style="background-color: black; padding-right: 10px; ">
                    <ul class="pagination pull-right">
                      <!-- <li><a href="#"><i class="fa fa-chevron-left"></i></a></li> -->
                      <li><a href="#" style="background-color: #404348; color: white;">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">6</a></li>
                      <li><a href="#">...</a></li>
                      <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
                <div class="option-wrapper col-md-2">
                        <div class="option">embed</div>
                        <div class="option">export</div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-7">
                    <div class="container"><h3>Results: </h3></div>
                </div>

                <div class="col-md-5"> -->
                    
                <!-- </div>
            </div> -->


            <!-- BEGIN TABLE OF LIST RESULTS -->
            <table class="contract-list">
            {% for o in object_list[:10] %}
            
                <tr>
                    <th><a href="/contract-detail" class="black">{{ o['vendorName'] }}</a></th>
                    <th colspan="3"><a href="/contract-detail" class="black">PIID: {{ o['PIID'] }}<!--  / {{ o['IDVModificationNumber'] }} --></a></th>
                </tr>
                <tr>
                    <td>Contracting Agency</td>
                    <td>{{ o['contractingOfficeAgencyID'] }}</td>
                    <td>VISUAL GOES HERE</td>
                    <td>${{ o['obligatedAmount'] }}</td>
                </tr>
                <tr>
                    <td>Date signed</td>
                    <td>{{ o['signedDate'] }}</td>
                    <td>VISUAL GOES HERE</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Performance district</td>
                    <td>{{ o['popStateCode'] }}-{{ o['pop_cd'] }}</td>
                    <td>VISUAL GOES HERE</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Principal NAICS Code</td>
                    <td>{{ o['PrincipalNAICSCode'] }}</td>
                    <td>VISUAL GOES HERE</td>
                    <td></td>
                </tr>
            
            {% endfor %}
            </table>

            <ul class="pagination pull-right">
              <li><a href="#" style="background-color: #404348; color: white;">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            
        </div> <!-- END TABLE OF LIST RESULTS -->
    </section>
</div> <!-- END MAIN CONTENT -->

{% include 'partials/foot.html' %}
